/* body {
    background-color: rgb(40, 38, 40);
    color: rgb(220, 220, 220);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
} */

body{
    background-color: black;
    background-image: url('Magic_eight_ball.png');
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: center center; /* Center the image horizontally and vertically */
}
